.products-wrapper {
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 100vh;
  }
  
  .products-title {
    font-size: 50px;
    font-weight: bold;
    margin-bottom: 10px;
    color: #164663;
    text-align: center; /* Center the heading text horizontally */
  }

  .table-info-text{
    font-size: 20px;
    margin-bottom: 10px;
    color: #164663;
    text-align: center; /* Center the heading text horizontally */
  }
  
  .products-table {
    border-collapse: collapse;
    margin-left: 5rem;
    margin-right: 5rem;
    width: 80%;
    max-width: 800px;
  }
  
  .products-table th,
  .products-table td {
    border: 1px solid var(--color-purple-500);
    text-align: left;
    padding: 8px;
    color: #164663;
  }
  

  :root {
    --color-purple-500: #164663;
  }
  
  .btn{
    margin-top: 10px;
    max-width: 400px;
    background-color: #164663;
    @apply w-3/4 py-4 rounded-lg text-gray-50 text-xl shadow-sm text-center;
  }

  .btn:hover{
    background-color: #0946af;
  }

  .btn2{
    max-width: 300px;
    @apply  text-blue-950;
  }

  .btn2:hover{
    color:#0946af;
  }