
.footer {
    background-color: transparent;
    position: bottom;
    bottom: 0;
    width: 100%;
    padding: 20px 0;
    text-align: center;
    
  }
  
  .footer-content {
    max-width: 1200px;
    margin: 0 auto;
  }
    .footer p {
    color: #145728;
    font-size: 14px;
  }
  
