
.footer {
    background-color: #164663;
    padding: 20px 0;
    text-align: center;
  }
  
  .footer-content {
    max-width: 1200px;
    margin: 0 auto;
  }
  
  /* Optional: Style the text if needed */
  .footer p {
    color: #ffffff;
    font-size: 14px;
  }
  