@import url("https://fonts.googleapis.com/css2?family=Titillium+Web:wght@300;400;700&display=swap");

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: "Titillium Web", sans-serif;
}
:root {
	--mainColor: #d20314;
	--mainColorLight: #ff0015;
	--secondaryColor: #ffffff8a;
	--textColor: #145728;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: transparent;
    color: var(--textColor);
  }
  
  nav {
    display: flex;
    align-items: center;
    gap: 10px;
  }
  
  .nav-link {
    color: var(--textColor);
    text-decoration: none;
    display: flex; /* Display flex to align items in a row */
    align-items: center; /* Align items vertically */
  }
  
  /* Adjust the right side alignment */
  .nav-links {
    margin-left: auto; /* Pushes the navigation titles to the right */
  }

  .nav-icon {
    margin-right: 8px; /* Add some space between the title and icon */
  }

nav button {
	margin: 0 ;
	color: var(--textColor);
	text-decoration: none;
}

nav button:hover {
	color: var(--secondaryColor);
}

header .nav-btn {
	cursor: pointer;
	background: transparent;
	border: none;
	outline: none;
	color: var(--textColor);
	visibility: hidden;
	opacity: 0;
	font-size: 1.8rem;
}

header div,
nav {
	display: flex;
	align-items: center;
}

@media only screen and (max-width: 1024px) {
	header .nav-btn {
		visibility: visible;
		opacity: 1;
	}

	header nav {
		position: fixed;
		top: -100vh;
		left: 0;
		height: 100%;
		width: 100%;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		gap: 1.5rem;
		background-color: var(--mainColor);
		transition: 1s;
	}

	header .responsive_nav {
		transform: translateY(100vh);
	}

	nav .nav-close-btn {
		top: 2rem;
		right: 2rem;
	}

	nav button {
		font-size: 1.5rem;
	}
}